<% if task.completed %>
<div class="task completed panel panel-success" task_id=<%= task.id %> user_id=<%= task.user_id %> position=<%= task.position %> completed="true" style="display: none;">
<% else %>
<div class="task panel panel-success" task_id=<%= task.id %> user_id=<%= task.user_id %> position=<%= task.position %> completed="false">
<% end %>
  <div class="task-heading panel-heading">
    <div class="task-draggable">
      <i class="draggable-arrows fa fa-arrows fa-lg"></i>
    </div>
    <div class="task-due">
      Due: <%= task.due.strftime("%b %d, %Y") %>
    </div>
    <div class="task-buttons">
      <a href="#" class="toggle-completed-link" title="Mark/Unmark as Completed"><i class="task-mark-completed fa fa-check-square-o fa-lg"></i></a>
      <a href="#" title="Download Attachment"><i class="task-download-attachment fa fa-paperclip fa-lg"></i></a>
      <a href="#" class="edit-task-link" title="Edit Task"><i class="task-edit fa fa-edit fa-lg"></i></a>
      <a href="#" title="Delete Task"><i class="task-delete fa fa-window-close-o fa-lg"></i></a>
    </div>
  </div>
  <div class="panel-body">
    <%= task.description %>
  </div>
</div>
