<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @attachment.task_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attachment.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @attachment.location %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
